@using Model.DataModel;
@model List<t_engineering>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Link</a></li>
        <li><a href="#">Data</a></li>
        <li class="active">GetData</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{ 
                            if(Model!=null&&Model.Count>0)
                            {
                                foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.dwmc</td>
                                        <td>@item.gcmc</td>
                                        <td>@item.zdwmc</td>
                                        <td>@item.gczt</td>
                                        <td>@item.gclb</td>
                                    </tr>
                                }
                            }
                        }
                            @*<tr>
                                <td>Trident</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td> 4</td>
                                <td>X</td>
                            </tr>*@
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

